[submodule "submodules/etcd"]
	path = submodules/etcd
	url = https://github.com/coreos/etcd.git
	shallow = true
[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = https://github.com/gogo/protobuf.git
	shallow = true
[submodule "submodules/googleapis"]
	path = submodules/googleapis
	url = https://github.com/googleapis/googleapis.git
	shallow = true
